<div class="container">
    <table class="table" style="margin: auto;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each items as | item i| }}
            {{#each item as |item|}}
            {{#if name}}
            <tr>
                <td>{{i}}</td>
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td>
                    <form action="/product/remove" method="GET">
                        <button class="btn btn-primary" name="rm" value={{_id}} type="submit">Xóa</button>
                        <button class="btn btn-danger">Sửa</button>
                    </form>
                </td>
            <tr>

                {{/if}}
                {{/each}}
                {{/each}}

            </tr>

        </tbody>
    </table>
    <br>
    <br>

    <div class="entry">
        {{#if msg}}
        <div class="alert alert-danger" role="alert">{{msg}}</div>
        {{/if}}
    </div>
</div>